.newsletter{
    margin-top: 80px;
    padding: 50px 0;
}
.newsletter .newsletter-inner{
    /* flex-direction: row; */
}
.newsletter .newsletter-inner .newsletter-text{
    
}
.newsletter .newsletter-inner .newsletter-text .section-title{
    
}
.newsletter .newsletter-inner .newsletter-text .section-text{
    
}
.newsletter .newsletter-inner .newsletter-form{
    
}
.newsletter .newsletter-inner .newsletter-form .newsletter-signup{
    width: 100%;
    margin-top: 30px;
}   
.newsletter .newsletter-inner .newsletter-form .newsletter-signup input{
    display: block !important;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.newsletter .newsletter-inner .newsletter-form .newsletter-signup input[type="email"]{
    color: #5c5c5c;  
    font-size: 15px;
    background: #d0d0d0;
    padding: 15px 30px;
    margin-bottom: 25px;
}
.newsletter .newsletter-inner .newsletter-form .newsletter-signup input[type="email"]::placeholder{
    font-weight: 500;
    color: #5c5c5c;
}
.newsletter .newsletter-inner .newsletter-form .newsletter-signup button{
    font-size: 18px;
}
@media screen and (max-width: 480px){
    .newsletter .newsletter-inner{
        flex-direction: column;
    }
    .newsletter .newsletter-inner .newsletter-text{
        text-align: center;
        margin-bottom: 25px;
    }
    .newsletter .newsletter-inner .newsletter-form .newsletter-signup input[type="email"]{
        margin-bottom: 15px;
    }
}