.footer{

}
.footer .footer-inner{
    
}
.footer .footer-inner .footer-logo{
    
}
.footer .footer-inner .footer-links-container{
    
}
.footer .footer-inner .footer-links-container .footer-links{
    margin-bottom: 15px;
}
.footer .footer-inner .footer-links-container .footer-links li{
    line-height: 30px;
}
.footer .footer-inner .footer-links-container .footer-links li a{
    color: #000;
}
.footer .footer-inner .footer-links-container .footer-links li a:hover{
    font-weight: bold;
}
.footer .footer-inner .footer-links-container .footer-social-link{
    color: #828282;
    text-decoration: underline;
}
.footer .footer-inner .footer-address,
.footer .footer-inner .footer-address a{
    color: #000;
}
.footer .footer-inner .footer-address h5{
    color: #000;
}
.footer .footer-inner .footer-address h5 a{
    text-decoration: underline;
    font-weight: normal;
}
.footer .footer-inner .footer-address h5 .telephone{
    text-decoration: none;
}
.footer .footer-credits{
    margin-top: 50px;
    text-align: center;
    color: #000;
}
@media screen and (max-width: 480px){
    .footer{
        margin-top: 25px;
    }
    .footer .footer-inner{
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-inner .footer-logo{
        margin-bottom: 25px;
    }
    .footer .footer-inner .footer-links-container{
        flex-direction: row;
        flex-basis: 50%;
    }
    .footer .footer-inner .footer-links-container .footer-social-link{
        display: none;
    }
    .footer .footer-inner .footer-address{
        margin-top: 15px;
        flex-basis: 50%;
        text-align: center;
    }
    .footer .footer-inner .footer-address h5 .telephone{
        line-height: 35px;
    }
    .footer .footer-credits{
        margin-top: 0px;
    }
}